<html>
    <head>
        <title>Quản lý bán hàng</title>
    </head>
    <body>
        <h1>Chi tiết loại hàng hoá</h1>
        <a href="/loaihanghoa/list"><button>Quay lại</button></a>
        <a href="/loaihanghoa/update?id={{id}}"><button>Sửa</button></a>
        <a href="/loaihanghoa/delete?id={{id}}"><button>Xoá</button></a>
        <table>
            <!--<tr>
                <th><a href="/loaihanghoa/list"><button>Quay lại</button></a></th>
                <th></th>
            </tr>-->
            <tr>
                <td><span>ID:</span></td>
                <td><span>{{ id }}</span></td>
            </tr>
            <tr>
                <td><span>Tên:</span></td>
                <td><span>{{ ten }}</span></td>
            </tr>
            <tr>
                    <td><span>Ghi chú:</span></td>
                    <td><span>{{ ghichu }}</span></td>
                </tr>
        </table>
        
    </body>
</html>