<html>
    <head>
        <title>Quản lý bán hàng</title>
    </head>
    <body>
        <table>
            <tr>
                <th colspan=2><h1>Chi tiết loại hàng hoá</h1></th>
            </tr>
            <tr>
                <td><span>ID:</span></td>
                <td><span>{{ id }}</span></td>
            </tr>
            <tr>
                <td><span>Tên:</span></td>
                <td><span>{{ ten }}</span></td>
            </tr>
            <tr>
                    <td><span>Ghi chú:</span></td>
                    <td><span>{{ ghichu }}</span></td>
                </tr>
        </table>
        
    </body>
</html>